includes:
  - phpstan-baseline.neon.dist

parameters:
  tmpDir: build/phpstan
  level: 9
  paths:
    - src
    - tests
  bootstrapFiles:
    - vendor/autoload.php
  stubFiles:
    - stubs/phpunit.stub
  parallel:
    processTimeout: 300.0
  polluteScopeWithLoopInitialAssignments: false
  polluteScopeWithAlwaysIterableForeach: false
  checkAlwaysTrueCheckTypeFunctionCall: true
  checkAlwaysTrueInstanceof: true
  checkAlwaysTrueStrictComparison: true
  checkExplicitMixedMissingReturn: true
  checkFunctionNameCase: true
  checkInternalClassCaseSensitivity: true
  reportMaybesInMethodSignatures: true
  reportStaticMethodSignatures: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  treatPhpDocTypesAsCertain: false
