parameters:
  ignoreErrors:
    -
      message: "#^Class Nexus\\\\PHPUnit\\\\Extension\\\\Tachycardia has an uninitialized property \\$testCase\\. Give it default value or assign it in the constructor\\.$#"
      count: 1
      path: src/Tachycardia.php

    - message: "#^Class Nexus\\\\PHPUnit\\\\Extension\\\\Tests\\\\Util\\\\TimeStateTest has an uninitialized property (\\$test(\\d)|\\$states|\\$oldStates)\\. Give it default value or assign it in the constructor\\.$#"
      count: 6
      path: tests/Util/TimeStateTest.php
